workflows/templates/data-compare/template.json
{
  "name": "{{WORKFLOW_NAME}}",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "{{WEBHOOK_PATH}}", "responseMode": "responseNode" },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const current = $input.first().json.current || 0;\nconst previous = $input.first().json.previous || 0;\nconst diff = current - previous;\nreturn { current, previous, diff, increased: diff > 0 };"
      },
      "id": "compare",
      "name": "对比数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ $json }}" },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $json.error.message || \"Error\" } }}",
        "options": { "responseCode": 500 }
      },
      "id": "error-respond",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 500]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "对比数据", "type": "main", "index": 0 }]] },
    "对比数据": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] },
    "Error Trigger": { "main": [[{ "node": "Error Response", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
