workflows/exports/bundles/ai-factory/completion-sync.json
{"name": "Completion Sync v1.0", "nodes": [{"id": "schedule-trigger", "name": "\u5b9a\u65f6\u89e6\u53d1", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [240, 400], "parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 5}]}}}, {"id": "manual-trigger", "name": "\u624b\u52a8\u89e6\u53d1", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [240, 600]}, {"id": "query-completed-features", "name": "\u67e5\u8be2\u5df2\u5b8c\u6210\u7684 Feature Check", "type": "n8n-nodes-base.notion", "typeVersion": 2.2, "position": [520, 500], "parameters": {"resource": "databasePage", "operation": "getAll", "databaseId": {"__rl": true, "mode": "id", "value": "54fe0d4cf4344e918bb0e33967661c42"}, "returnAll": true, "options": {}}, "credentials": {"notionApi": {"id": "KOSUxBByCoMPR3Au", "name": "Notion API"}}}, {"id": "filter-features", "name": "\u8fc7\u6ee4 Feature Check", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [780, 500], "parameters": {"jsCode": "// \u8fc7\u6ee4\u6761\u4ef6:\n// - Coding Type = Check (Feature Check)\n// - AI Task = true\n// - Status = Completed\n\nconst allTasks = $input.all();\n\n// \u521b\u5efa\u4efb\u52a1 ID -> \u4efb\u52a1\u5bf9\u8c61\u6620\u5c04\nconst taskMap = new Map();\nallTasks.forEach(item => {\n  const id = item.json.id?.replace(/-/g, '');\n  if (id) taskMap.set(id, item.json);\n});\n\n// \u627e\u5230\u5df2\u5b8c\u6210\u7684 Feature Check\nconst completedFeatures = allTasks.filter(item => {\n  const json = item.json;\n  \n  // Daily Highlight = true\n  if (json.property_coding_type !== 'Check') return false;\n  \n  // AI Task = true\n  if (!json.property_ai_task) return false;\n  \n  // Status = Completed\n  if (json.property_status !== 'Completed') return false;\n  \n  return true;\n});\n\n// \u5bf9\u4e8e\u6bcf\u4e2a\u5df2\u5b8c\u6210\u7684 Feature\uff0c\u68c0\u67e5\u5176\u4f9d\u8d56\u4efb\u52a1\nconst tasksToSync = [];\n\nfor (const feature of completedFeatures) {\n  const blockedBy = feature.json.property_blocked_by || [];\n  \n  for (const dep of blockedBy) {\n    const depId = (typeof dep === 'string' ? dep : dep.id)?.replace(/-/g, '');\n    const depTask = taskMap.get(depId);\n    \n    if (depTask && depTask.property_status !== 'Completed') {\n      // \u4f9d\u8d56\u4efb\u52a1\u8fd8\u672a\u540c\u6b65\u4e3a Completed\n      tasksToSync.push({\n        task_id: depTask.id,\n        task_name: depTask.name || depTask.property_name,\n        current_status: depTask.property_status,\n        feature_name: feature.json.name || feature.json.property_name,\n        feature_id: feature.json.id\n      });\n    }\n  }\n}\n\nif (tasksToSync.length === 0) {\n  return [{ json: { no_tasks: true, message: '\u6ca1\u6709\u9700\u8981\u540c\u6b65\u7684\u4efb\u52a1' } }];\n}\n\nreturn tasksToSync.map(t => ({ json: t }));"}}, {"id": "check-tasks", "name": "\u6709\u4efb\u52a1\u9700\u8981\u540c\u6b65?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1040, 500], "parameters": {"conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "check-no-tasks", "operator": {"type": "boolean", "operation": "notEqual"}, "leftValue": "={{ $json.no_tasks }}", "rightValue": true}]}, "options": {}}}, {"id": "no-sync", "name": "\u65e0\u9700\u540c\u6b65", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1300, 660]}, {"id": "loop-tasks", "name": "\u9010\u4e2a\u540c\u6b65", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [1300, 500], "parameters": {"batchSize": 1, "options": {}}}, {"id": "update-status", "name": "\u66f4\u65b0\u72b6\u6001: Completed", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1560, 500], "parameters": {"method": "PATCH", "url": "=https://api.notion.com/v1/pages/{{ $json.task_id }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer {{ $env.NOTION_API_KEY }}"}, {"name": "Notion-Version", "value": "2022-06-28"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"properties\": {\n    \"Status\": {\n      \"status\": {\n        \"name\": \"Completed\"\n      }\n    }\n  }\n}", "options": {}}}, {"id": "log-sync", "name": "\u8bb0\u5f55\u540c\u6b65", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1820, 500], "parameters": {"jsCode": "const task = $('\u9010\u4e2a\u540c\u6b65').item.json;\n\nreturn {\n  synced: true,\n  task_id: task.task_id,\n  task_name: task.task_name,\n  from_status: task.current_status,\n  to_status: 'Completed',\n  feature_name: task.feature_name\n};"}}, {"id": "collect-results", "name": "\u6536\u96c6\u7ed3\u679c", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2080, 500], "parameters": {"jsCode": "// \u8fd9\u4e2a\u8282\u70b9\u5728\u5faa\u73af\u5b8c\u6210\u540e\u6267\u884c\nconst allItems = $input.all();\nconst syncedTasks = allItems.filter(item => item.json.synced);\n\nif (syncedTasks.length === 0) {\n  return { json: { synced_count: 0, message: '\u6ca1\u6709\u540c\u6b65\u4efb\u4f55\u4efb\u52a1' } };\n}\n\n// \u6309 feature \u5206\u7ec4\nconst byFeature = {};\nfor (const item of syncedTasks) {\n  const featureName = item.json.feature_name || 'Unknown';\n  if (!byFeature[featureName]) {\n    byFeature[featureName] = [];\n  }\n  byFeature[featureName].push(item.json.task_name);\n}\n\nconst summaryParts = [];\nfor (const [feature, tasks] of Object.entries(byFeature)) {\n  summaryParts.push(`**${feature}**: ${tasks.join(', ')}`);\n}\n\nreturn {\n  synced_count: syncedTasks.length,\n  summary: summaryParts.join('\\n'),\n  details: syncedTasks.map(t => t.json)\n};"}}, {"id": "check-synced", "name": "\u6709\u540c\u6b65?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [2340, 500], "parameters": {"conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "check-count", "operator": {"type": "number", "operation": "gt"}, "leftValue": "={{ $json.synced_count }}", "rightValue": 0}]}, "options": {}}}, {"id": "notify-sync", "name": "\u901a\u77e5: \u72b6\u6001\u540c\u6b65", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2600, 400], "parameters": {"method": "POST", "url": "https://open.feishu.cn/open-apis/bot/v2/hook/5bde68e0-9879-4a45-88ed-461a88229136", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"msg_type\": \"interactive\",\n  \"card\": {\n    \"header\": {\n      \"title\": {\n        \"tag\": \"plain_text\",\n        \"content\": \"\ud83d\udd04 Task \u72b6\u6001\u540c\u6b65\"\n      },\n      \"template\": \"turquoise\"\n    },\n    \"elements\": [\n      {\n        \"tag\": \"div\",\n        \"text\": {\n          \"tag\": \"lark_md\",\n          \"content\": \"\u5df2\u540c\u6b65 {{ $json.synced_count }} \u4e2a\u4efb\u52a1\u4e3a Completed:\\n\\n{{ $json.summary }}\"\n        }\n      }\n    ]\n  }\n}", "options": {}}}, {"id": "done", "name": "\u5b8c\u6210", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [2600, 600]}], "connections": {"\u5b9a\u65f6\u89e6\u53d1": {"main": [[{"node": "\u67e5\u8be2\u5df2\u5b8c\u6210\u7684 Feature Check", "type": "main", "index": 0}]]}, "\u624b\u52a8\u89e6\u53d1": {"main": [[{"node": "\u67e5\u8be2\u5df2\u5b8c\u6210\u7684 Feature Check", "type": "main", "index": 0}]]}, "\u67e5\u8be2\u5df2\u5b8c\u6210\u7684 Feature Check": {"main": [[{"node": "\u8fc7\u6ee4 Feature Check", "type": "main", "index": 0}]]}, "\u8fc7\u6ee4 Feature Check": {"main": [[{"node": "\u6709\u4efb\u52a1\u9700\u8981\u540c\u6b65?", "type": "main", "index": 0}]]}, "\u6709\u4efb\u52a1\u9700\u8981\u540c\u6b65?": {"main": [[{"node": "\u9010\u4e2a\u540c\u6b65", "type": "main", "index": 0}], [{"node": "\u65e0\u9700\u540c\u6b65", "type": "main", "index": 0}]]}, "\u9010\u4e2a\u540c\u6b65": {"main": [[{"node": "\u66f4\u65b0\u72b6\u6001: Completed", "type": "main", "index": 0}], [{"node": "\u6536\u96c6\u7ed3\u679c", "type": "main", "index": 0}]]}, "\u66f4\u65b0\u72b6\u6001: Completed": {"main": [[{"node": "\u8bb0\u5f55\u540c\u6b65", "type": "main", "index": 0}]]}, "\u8bb0\u5f55\u540c\u6b65": {"main": [[{"node": "\u9010\u4e2a\u540c\u6b65", "type": "main", "index": 0}]]}, "\u6536\u96c6\u7ed3\u679c": {"main": [[{"node": "\u6709\u540c\u6b65?", "type": "main", "index": 0}]]}, "\u6709\u540c\u6b65?": {"main": [[{"node": "\u901a\u77e5: \u72b6\u6001\u540c\u6b65", "type": "main", "index": 0}], [{"node": "\u5b8c\u6210", "type": "main", "index": 0}]]}, "\u901a\u77e5: \u72b6\u6001\u540c\u6b65": {"main": [[{"node": "\u5b8c\u6210", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}}