workflows/exports/bundles/ai-factory/feature-completion-sync-v2.json
{"name": "Feature Completion Sync", "nodes": [{"id": "schedule-trigger", "name": "\u6bcf5\u5206\u949f\u89e6\u53d1", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [240, 300], "parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 5}]}}}, {"id": "manual-trigger", "name": "\u624b\u52a8\u89e6\u53d1", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [240, 500]}, {"id": "query-ai-done", "name": "\u67e5\u8be2 AI Done", "type": "n8n-nodes-base.notion", "typeVersion": 2.2, "position": [520, 300], "parameters": {"resource": "databasePage", "operation": "getAll", "databaseId": {"__rl": true, "mode": "id", "value": "54fe0d4cf4344e918bb0e33967661c42"}, "returnAll": false, "limit": 10, "filterType": "json", "filterJson": "{\"and\": [{\"property\": \"AI Task\", \"checkbox\": {\"equals\": true}}, {\"property\": \"Coding Type\", \"select\": {\"equals\": \"Check\"}}, {\"property\": \"Status\", \"status\": {\"equals\": \"AI Done\"}}]}", "options": {}}, "credentials": {"notionApi": {"id": "KOSUxBByCoMPR3Au", "name": "Notion API"}}}, {"id": "query-completed", "name": "\u67e5\u8be2 Completed", "type": "n8n-nodes-base.notion", "typeVersion": 2.2, "position": [520, 500], "parameters": {"resource": "databasePage", "operation": "getAll", "databaseId": {"__rl": true, "mode": "id", "value": "54fe0d4cf4344e918bb0e33967661c42"}, "returnAll": false, "limit": 10, "filterType": "json", "filterJson": "{\"and\": [{\"property\": \"AI Task\", \"checkbox\": {\"equals\": true}}, {\"property\": \"Coding Type\", \"select\": {\"equals\": \"Check\"}}, {\"property\": \"Status\", \"status\": {\"equals\": \"Completed\"}}]}", "options": {}}, "credentials": {"notionApi": {"id": "KOSUxBByCoMPR3Au", "name": "Notion API"}}}, {"id": "merge-results", "name": "\u5408\u5e76\u7ed3\u679c", "type": "n8n-nodes-base.merge", "typeVersion": 3, "position": [780, 400], "parameters": {"mode": "append", "options": {}}}, {"id": "check-has-tasks", "name": "\u6709\u4efb\u52a1?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1040, 400], "parameters": {"conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "check-results", "operator": {"type": "number", "operation": "gt"}, "leftValue": "={{ $input.all().length }}", "rightValue": 0}]}, "options": {}}}, {"id": "no-tasks", "name": "\u65e0\u4efb\u52a1", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1300, 560]}, {"id": "check-status", "name": "\u68c0\u67e5\u72b6\u6001", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1300, 400], "parameters": {"conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "is-ai-done", "operator": {"type": "string", "operation": "equals"}, "leftValue": "={{ $json.property_status }}", "rightValue": "AI Done"}]}, "options": {}}}, {"id": "handle-ai-done", "name": "\u901a\u77e5\u9a8c\u6536", "type": "n8n-nodes-base.ssh", "typeVersion": 1, "position": [1560, 300], "parameters": {"authentication": "privateKey", "host": "146.190.52.84", "port": 22, "user": "xx", "command": "=source /home/xx/dev/zenithjoy-autopilot/workflows/.secrets && /home/xx/bin/ai-factory-v2/feature-ai-done.sh \"{{ $json.id }}\" \"{{ $json.Name }}\""}, "credentials": {"sshPrivateKey": {"id": "vvJsQOZ95sqzemla", "name": "VPS SSH Key"}}}, {"id": "handle-completed", "name": "\u540c\u6b65\u5b8c\u6210", "type": "n8n-nodes-base.ssh", "typeVersion": 1, "position": [1560, 500], "parameters": {"authentication": "privateKey", "host": "146.190.52.84", "port": 22, "user": "xx", "command": "=source /home/xx/dev/zenithjoy-autopilot/workflows/.secrets && /home/xx/bin/ai-factory-v2/feature-completed.sh \"{{ $json.id }}\" \"{{ $json.Name }}\""}, "credentials": {"sshPrivateKey": {"id": "vvJsQOZ95sqzemla", "name": "VPS SSH Key"}}}], "connections": {"\u6bcf5\u5206\u949f\u89e6\u53d1": {"main": [[{"node": "\u67e5\u8be2 AI Done", "type": "main", "index": 0}, {"node": "\u67e5\u8be2 Completed", "type": "main", "index": 0}]]}, "\u624b\u52a8\u89e6\u53d1": {"main": [[{"node": "\u67e5\u8be2 AI Done", "type": "main", "index": 0}, {"node": "\u67e5\u8be2 Completed", "type": "main", "index": 0}]]}, "\u67e5\u8be2 AI Done": {"main": [[{"node": "\u5408\u5e76\u7ed3\u679c", "type": "main", "index": 0}]]}, "\u67e5\u8be2 Completed": {"main": [[{"node": "\u5408\u5e76\u7ed3\u679c", "type": "main", "index": 1}]]}, "\u5408\u5e76\u7ed3\u679c": {"main": [[{"node": "\u6709\u4efb\u52a1?", "type": "main", "index": 0}]]}, "\u6709\u4efb\u52a1?": {"main": [[{"node": "\u68c0\u67e5\u72b6\u6001", "type": "main", "index": 0}], [{"node": "\u65e0\u4efb\u52a1", "type": "main", "index": 0}]]}, "\u68c0\u67e5\u72b6\u6001": {"main": [[{"node": "\u901a\u77e5\u9a8c\u6536", "type": "main", "index": 0}], [{"node": "\u540c\u6b65\u5b8c\u6210", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner"}}