workflows/exports/bundles/ai-factory/vibe-coding-master.json
{
  "name": "Vibe Coding 主控",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "定时触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "manual-trigger",
      "name": "手动触发",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 500]
    },
    {
      "id": "query-tasks",
      "name": "查询所有任务",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [520, 400],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "54fe0d4cf4344e918bb0e33967661c42"
        },
        "returnAll": true,
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "KOSUxBByCoMPR3Au",
          "name": "Notion API"
        }
      }
    },
    {
      "id": "filter-tasks",
      "name": "过滤AI任务",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 400],
      "parameters": {
        "jsCode": "// 过滤条件 (n8n Notion 节点返回 property_xxx 格式)\n// - Status = 'Next Action'\n// - AI Task = true\n// - Coding Type 有值\n// - Area 包含 AI Systems & Automation\n\nconst AI_AREA_ID = '21e53f413ec5805f8be2ce01f4247df2';\n\nconst tasks = $input.all().filter(item => {\n  const json = item.json;\n  \n  // Status = Next Action\n  if (json.property_status !== 'Next Action') return false;\n  \n  // AI Task = true\n  if (!json.property_ai_task) return false;\n  \n  // Coding Type 有值\n  if (!json.property_coding_type) return false;\n  \n  // Area 包含 AI Systems\n  const areas = json.property_area || [];\n  const hasAIArea = areas.some(a => {\n    const id = typeof a === 'string' ? a : a.id;\n    return id === AI_AREA_ID || id?.replace(/-/g, '') === AI_AREA_ID.replace(/-/g, '');\n  });\n  if (!hasAIArea) return false;\n  \n  return true;\n});\n\nreturn tasks;"
      }
    },
    {
      "id": "check-tasks",
      "name": "有任务?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 400],
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-length",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "no-tasks",
      "name": "无任务",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1300, 560]
    },
    {
      "id": "loop-tasks",
      "name": "逐个处理",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1300, 400],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "get-page-content",
      "name": "获取任务详情",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1560, 400],
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "returnAll": true,
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "KOSUxBByCoMPR3Au",
          "name": "Notion API"
        }
      }
    },
    {
      "id": "update-status-running",
      "name": "更新状态: In Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1820, 400],
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('逐个处理').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Status\": {\n      \"status\": {\n        \"name\": \"In Progress\"\n      }\n    },\n    \"Run ID\": {\n      \"rich_text\": [\n        {\n          \"type\": \"text\",\n          \"text\": {\n            \"content\": \"{{ $runId }}\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      }
    },
    {
      "id": "prepare-claude",
      "name": "准备 Claude 命令",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 400],
      "parameters": {
        "jsCode": "const task = $('逐个处理').item.json;\n\n// 提取页面内容\nlet pageContent = '';\nfor (const item of $('获取任务详情').all()) {\n  const block = item.json;\n  if (block.type === 'paragraph' && block.paragraph?.rich_text) {\n    pageContent += block.paragraph.rich_text.map(t => t.plain_text).join('') + '\\n';\n  } else if (block.type === 'heading_1' && block.heading_1?.rich_text) {\n    pageContent += '# ' + block.heading_1.rich_text.map(t => t.plain_text).join('') + '\\n';\n  } else if (block.type === 'heading_2' && block.heading_2?.rich_text) {\n    pageContent += '## ' + block.heading_2.rich_text.map(t => t.plain_text).join('') + '\\n';\n  } else if (block.type === 'heading_3' && block.heading_3?.rich_text) {\n    pageContent += '### ' + block.heading_3.rich_text.map(t => t.plain_text).join('') + '\\n';\n  } else if (block.type === 'bulleted_list_item' && block.bulleted_list_item?.rich_text) {\n    pageContent += '- ' + block.bulleted_list_item.rich_text.map(t => t.plain_text).join('') + '\\n';\n  } else if (block.type === 'numbered_list_item' && block.numbered_list_item?.rich_text) {\n    pageContent += '1. ' + block.numbered_list_item.rich_text.map(t => t.plain_text).join('') + '\\n';\n  } else if (block.type === 'code' && block.code?.rich_text) {\n    pageContent += '```\\n' + block.code.rich_text.map(t => t.plain_text).join('') + '\\n```\\n';\n  }\n}\n\n// 提取任务信息 (n8n Notion 节点返回 property_xxx 格式)\nconst taskName = task.name || task.property_name || 'Unknown Task';\nconst codingType = task.property_coding_type || 'Workflow';\nconst projectId = task.property_project?.[0] || '';\n\n// 构建 Claude 提示词\nconst prompt = `你是 Vibe Coding 系统的 AI 工厂执行者。\n\n## 任务信息\n- Task ID: ${task.id}\n- Task Name: ${taskName}\n- Coding Type: ${codingType}\n- Run ID: ${$runId}\n- Project ID: ${projectId}\n\n## 任务内容\n${pageContent}\n\n## 执行要求\n1. 根据任务内容创建/修改 n8n Workflow\n2. 运行 8 路质检\n3. 质检通过后：获取锁 → 更新 bundle.json → Git Commit\n4. 使用 notion-task-reporter.sh 更新任务状态和执行报告\n5. 如有通用经验，创建 XX_ProjectNotes 笔记\n\n开始执行任务。`;\n\n// 转义特殊字符\nconst escapedPrompt = prompt.replace(/'/g, \"'\\\"'\\\"'\").replace(/\\$/g, '\\\\$');\n\nreturn {\n  task_id: task.id,\n  task_name: taskName,\n  coding_type: codingType,\n  run_id: $runId,\n  project_id: projectId,\n  page_content: pageContent,\n  claude_prompt: escapedPrompt,\n  claude_command: `cd /home/xx/dev/n8n-workflows && timeout -k 10 600 claude -p '${escapedPrompt}' --allowedTools 'Bash,Read,Write,Edit,Glob,Grep' 2>&1`\n};"
      }
    },
    {
      "id": "execute-claude",
      "name": "执行 Claude Code",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [2340, 400],
      "parameters": {
        "authentication": "privateKey",
        "host": "146.190.52.84",
        "port": 22,
        "user": "xx",
        "command": "={{ $json.claude_command }}"
      },
      "credentials": {
        "sshPrivateKey": {
          "id": "vvJsQOZ95sqzemla",
          "name": "VPS SSH Key"
        }
      }
    },
    {
      "id": "parse-result",
      "name": "解析执行结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 400],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst stdout = input.stdout || '';\nconst stderr = input.stderr || '';\nconst exitCode = input.exitCode ?? 0;\n\nconst task = $('准备 Claude 命令').first().json;\n\n// 判断执行结果\nlet success = exitCode === 0;\nlet summary = '';\n\nif (stdout.includes('质检通过') || stdout.includes('✅')) {\n  success = true;\n  summary = '任务执行成功';\n} else if (stdout.includes('质检失败') || stdout.includes('❌')) {\n  success = false;\n  summary = '质检失败';\n} else if (exitCode !== 0) {\n  success = false;\n  summary = `执行失败 (exit code: ${exitCode})`;\n} else {\n  summary = '执行完成';\n}\n\nreturn {\n  task_id: task.task_id,\n  task_name: task.task_name,\n  run_id: task.run_id,\n  success: success,\n  summary: summary,\n  exit_code: exitCode,\n  stdout_preview: stdout.slice(-2000)\n};"
      }
    },
    {
      "id": "check-success",
      "name": "执行成功?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2860, 400],
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-success",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.success }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "notify-success",
      "name": "通知: 成功",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3120, 300],
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/bot/v2/hook/5bde68e0-9879-4a45-88ed-461a88229136",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msg_type\": \"interactive\",\n  \"card\": {\n    \"header\": {\n      \"title\": {\n        \"tag\": \"plain_text\",\n        \"content\": \"✅ Vibe Coding 任务完成\"\n      },\n      \"template\": \"green\"\n    },\n    \"elements\": [\n      {\n        \"tag\": \"div\",\n        \"text\": {\n          \"tag\": \"lark_md\",\n          \"content\": \"**任务**: {{ $json.task_name }}\\n**Run ID**: {{ $json.run_id }}\\n**结果**: {{ $json.summary }}\"\n        }\n      }\n    ]\n  }\n}",
        "options": {}
      }
    },
    {
      "id": "notify-failure",
      "name": "通知: 失败",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3120, 500],
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/bot/v2/hook/5bde68e0-9879-4a45-88ed-461a88229136",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msg_type\": \"interactive\",\n  \"card\": {\n    \"header\": {\n      \"title\": {\n        \"tag\": \"plain_text\",\n        \"content\": \"❌ Vibe Coding 任务失败\"\n      },\n      \"template\": \"red\"\n    },\n    \"elements\": [\n      {\n        \"tag\": \"div\",\n        \"text\": {\n          \"tag\": \"lark_md\",\n          \"content\": \"**任务**: {{ $json.task_name }}\\n**Run ID**: {{ $json.run_id }}\\n**错误**: {{ $json.summary }}\"\n        }\n      }\n    ]\n  }\n}",
        "options": {}
      }
    },
    {
      "id": "back-to-loop",
      "name": "返回循环",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3380, 400]
    }
  ],
  "connections": {
    "定时触发": {
      "main": [[{"node": "查询所有任务", "type": "main", "index": 0}]]
    },
    "手动触发": {
      "main": [[{"node": "查询所有任务", "type": "main", "index": 0}]]
    },
    "查询所有任务": {
      "main": [[{"node": "过滤AI任务", "type": "main", "index": 0}]]
    },
    "过滤AI任务": {
      "main": [[{"node": "有任务?", "type": "main", "index": 0}]]
    },
    "有任务?": {
      "main": [
        [{"node": "逐个处理", "type": "main", "index": 0}],
        [{"node": "无任务", "type": "main", "index": 0}]
      ]
    },
    "逐个处理": {
      "main": [
        [{"node": "获取任务详情", "type": "main", "index": 0}],
        [{"node": "返回循环", "type": "main", "index": 0}]
      ]
    },
    "获取任务详情": {
      "main": [[{"node": "更新状态: In Progress", "type": "main", "index": 0}]]
    },
    "更新状态: In Progress": {
      "main": [[{"node": "准备 Claude 命令", "type": "main", "index": 0}]]
    },
    "准备 Claude 命令": {
      "main": [[{"node": "执行 Claude Code", "type": "main", "index": 0}]]
    },
    "执行 Claude Code": {
      "main": [[{"node": "解析执行结果", "type": "main", "index": 0}]]
    },
    "解析执行结果": {
      "main": [[{"node": "执行成功?", "type": "main", "index": 0}]]
    },
    "执行成功?": {
      "main": [
        [{"node": "通知: 成功", "type": "main", "index": 0}],
        [{"node": "通知: 失败", "type": "main", "index": 0}]
      ]
    },
    "通知: 成功": {
      "main": [[{"node": "逐个处理", "type": "main", "index": 0}]]
    },
    "通知: 失败": {
      "main": [[{"node": "逐个处理", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}
