workflows/exports/bundles/ai-factory/workflow-factory.json
{
  "name": "AI工厂-Workflow生产线-v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workflow-factory",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "接收PRD",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "workflow-factory-v2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workflow-factory-callback",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "callback-webhook",
      "name": "接收回调",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        500
      ],
      "webhookId": "workflow-factory-callback"
    },
    {
      "parameters": {
        "jsCode": "// 初始化 Run\nconst now = new Date();\nconst input = $input.first().json;\n\nconst resumeRunId = input.resume_run_id || input.body?.resume_run_id || null;\nconst rollbackRunId = input.rollback_run_id || input.body?.rollback_run_id || null;\nconst runId = resumeRunId || (now.toISOString().replace(/[-:T]/g, '').slice(0, 14) + '-' + Math.random().toString(36).slice(2, 8));\n\nconst prd = input.prd || input.body?.prd || '未提供PRD';\nconst targetWorkflow = input.target_workflow || input.body?.target_workflow || null;\nconst project = input.project || input.body?.project || 'default';\n\nconst callbackUrl = 'https://zenithjoy21xx.app.n8n.cloud/webhook/workflow-factory-callback';\n\nreturn [{\n  json: {\n    run_id: runId,\n    prd: prd,\n    target_workflow: targetWorkflow,\n    project: project,\n    resume_run_id: resumeRunId,\n    rollback_run_id: rollbackRunId,\n    callback_url: callbackUrl,\n    started_at: now.toISOString()\n  }\n}];"
      },
      "id": "init",
      "name": "初始化Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "host": "146.190.52.84",
        "port": 22,
        "user": "xx",
        "command": "=/home/xx/bin/workflow-factory.sh --async --run-id '{{ $json.run_id }}' --prd '{{ $json.prd.replace(/'/g, \"'\") }}' {{ $json.target_workflow ? \"--target-workflow '\" + $json.target_workflow + \"'\" : \"\" }} {{ $json.resume_run_id ? \"--resume '\" + $json.resume_run_id + \"'\" : \"\" }} {{ $json.rollback_run_id ? \"--rollback '\" + $json.rollback_run_id + \"'\" : \"\" }} --project '{{ $json.project }}' --callback '{{ $json.callback_url }}' 2>&1"
      },
      "id": "ssh-execute",
      "name": "SSH启动任务",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "vvJsQOZ95sqzemla",
          "name": "VPS SSH Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 解析SSH启动结果\nconst stdout = $input.first().json.stdout || '';\nconst initData = $('初始化Run').first().json;\n\nlet result;\n\ntry {\n  const lines = stdout.split('\\n');\n  for (const line of lines) {\n    const trimmed = line.trim();\n    if (trimmed.startsWith('{') && trimmed.endsWith('}')) {\n      try {\n        result = JSON.parse(trimmed);\n        break;\n      } catch (e) {\n        continue;\n      }\n    }\n  }\n  \n  if (!result) {\n    throw new Error('无法解析启动结果');\n  }\n} catch (e) {\n  result = {\n    status: 'started',\n    run_id: initData.run_id,\n    async: true,\n    message: '任务已启动'\n  };\n}\n\nresult.started_at = initData.started_at;\nresult.prd = initData.prd;\n\nreturn [{ json: result }];"
      },
      "id": "parse-start",
      "name": "解析启动结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 返回启动确认\nconst result = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    async: true,\n    run_id: result.run_id,\n    message: '任务已在后台启动，完成后将通过飞书通知',\n    started_at: result.started_at\n  }\n}];"
      },
      "id": "return-start",
      "name": "返回启动确认",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 解析回调结果\nconst input = $input.first().json;\nconst body = input.body || input;\n\nreturn [{\n  json: {\n    run_id: body.run_id,\n    prd: body.prd,\n    decision: body.decision || 'UNKNOWN',\n    tasks: body.tasks || {},\n    duration_seconds: body.duration_seconds || 0,\n    rework_count: body.rework_count || 0,\n    completed_at: body.completed_at || new Date().toISOString(),\n    qc: body.qc || {}\n  }\n}];"
      },
      "id": "parse-callback",
      "name": "解析回调结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/bot/v2/hook/5bde68e0-9879-4a45-88ed-461a88229136",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msg_type\": \"interactive\",\n  \"card\": {\n    \"header\": {\n      \"title\": {\n        \"tag\": \"plain_text\",\n        \"content\": \"{{ $json.decision === 'PASS' ? '✅' : $json.decision === 'FAIL' ? '❌' : '⚠️' }} AI工厂执行完成\"\n      },\n      \"template\": \"{{ $json.decision === 'PASS' ? 'green' : $json.decision === 'FAIL' ? 'red' : 'orange' }}\"\n    },\n    \"elements\": [\n      {\n        \"tag\": \"div\",\n        \"fields\": [\n          { \"is_short\": true, \"text\": { \"tag\": \"lark_md\", \"content\": \"**Run ID**\\n{{ $json.run_id }}\" } },\n          { \"is_short\": true, \"text\": { \"tag\": \"lark_md\", \"content\": \"**决策**\\n{{ $json.decision }}\" } }\n        ]\n      },\n      { \"tag\": \"div\", \"text\": { \"tag\": \"lark_md\", \"content\": \"**PRD**: {{ ($json.prd || '').substring(0, 80) }}...\" } },\n      {\n        \"tag\": \"div\",\n        \"fields\": [\n          { \"is_short\": true, \"text\": { \"tag\": \"lark_md\", \"content\": \"**任务数**\\n{{ $json.tasks?.total || 0 }}\" } },\n          { \"is_short\": true, \"text\": { \"tag\": \"lark_md\", \"content\": \"**耗时**\\n{{ $json.duration_seconds || 0 }}s\" } }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "feishu-notify",
      "name": "飞书通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        500
      ]
    }
  ],
  "connections": {
    "接收PRD": {
      "main": [
        [
          {
            "node": "初始化Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "初始化Run": {
      "main": [
        [
          {
            "node": "SSH启动任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH启动任务": {
      "main": [
        [
          {
            "node": "解析启动结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析启动结果": {
      "main": [
        [
          {
            "node": "返回启动确认",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "接收回调": {
      "main": [
        [
          {
            "node": "解析回调结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析回调结果": {
      "main": [
        [
          {
            "node": "飞书通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
