workflows/templates/parallel-execution/template.json
{
  "name": "并行执行模板",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "parallel-demo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "触发器",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "{{WEBHOOK_ID}}"
    },
    {
      "parameters": {
        "jsCode": "// 准备要并行处理的任务列表\nconst input = $input.item.json.body || $input.item.json;\nconst items = input.items || [\n  { id: 1, name: 'Task 1' },\n  { id: 2, name: 'Task 2' },\n  { id: 3, name: 'Task 3' }\n];\n\n// 返回多个 items，触发 SplitInBatches\nreturn items.map(item => ({ json: item }));"
      },
      "id": "prepare-tasks",
      "name": "准备任务",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "id": "split-batches",
      "name": "批量分割",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// 处理单个任务\nconst item = $input.item.json;\n\n// 模拟处理时间\nconst delay = Math.random() * 1000;\nawait new Promise(resolve => setTimeout(resolve, delay));\n\nconst result = {\n  ...item,\n  processed: true,\n  processed_at: new Date().toISOString(),\n  processing_time: Math.round(delay)\n};\n\nreturn { json: result };"
      },
      "id": "process-task",
      "name": "处理任务",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// 收集所有批次的结果\nconst context = $('批量分割').context;\nconst isLastBatch = context.noItemsLeft;\n\nif (!isLastBatch) {\n  // 不是最后一批，继续循环\n  return null;\n}\n\n// 最后一批，收集所有结果\nconst allItems = $input.all();\nconst results = allItems.map(item => item.json);\n\nreturn {\n  json: {\n    total: results.length,\n    results: results,\n    completed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "merge-results",
      "name": "合并结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "返回响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $json.error.message || \"Error\" } }}",
        "options": { "responseCode": 500 }
      },
      "id": "error-respond",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 500]
    }
  ],
  "connections": {
    "触发器": {
      "main": [
        [
          {
            "node": "准备任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备任务": {
      "main": [
        [
          {
            "node": "批量分割",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "批量分割": {
      "main": [
        [
          {
            "node": "处理任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理任务": {
      "main": [
        [
          {
            "node": "合并结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合并结果": {
      "main": [
        [
          {
            "node": "返回响应",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "批量分割",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
