apps/core/src/system/n8n-workflows/nightly-planner.json
{
  "name": "Nightly Planner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Triggers daily at 6:00 AM UTC+8"
    },
    {
      "parameters": {
        "url": "http://localhost:5211/api/system/plan/nightly",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {}
      },
      "name": "Generate Nightly Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "content": "=### Nightly Plan Generated\n\n**Plan ID:** {{ $json.plan_id }}\n**Committed:** {{ $json.committed_count }} tasks\n**Summary:** {{ $json.summary }}\n**Next Review:** {{ $json.next_review }}"
      },
      "name": "Log Success",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "content": "=### Nightly Plan Failed\n\n**Error:** {{ $json.error }}"
      },
      "name": "Log Failure",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Generate Nightly Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Nightly Plan": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Shanghai"
  }
}
