workflows/templates/code-node/template.json
{
  "name": "{{WORKFLOW_NAME}}",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "{{WEBHOOK_PATH}}", "responseMode": "responseNode" },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// 处理逻辑\nconst input = $input.first().json;\nconst result = { processed: true, data: input };\nreturn result;"
      },
      "id": "code",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ $json }}" },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $json.error.message || \"Error\" } }}",
        "options": { "responseCode": 500 }
      },
      "id": "error-respond",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 500]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Code", "type": "main", "index": 0 }]] },
    "Code": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] },
    "Error Trigger": { "main": [[{ "node": "Error Response", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
