data-cecelia/n8n-templates/devgate-nightly-push.json
{
  "name": "DevGate Nightly Push",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "ScheduleTrigger",
      "name": "Schedule (02:00 daily)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "path": "devgate-push",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "WebhookTrigger",
      "name": "Webhook (manual trigger)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        500
      ],
      "webhookId": "devgate-push"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "host": "146.190.52.84",
        "port": 22,
        "user": "xx",
        "command": "source ~/.credentials/devgate.env && cd /home/xx/dev/zenithjoy-engine && bash scripts/devgate/push-metrics.sh 2>&1"
      },
      "id": "SSHPush",
      "name": "SSH: Run push-metrics.sh",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        520,
        400
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "vvJsQOZ95sqzemla",
          "name": "VPS SSH Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.stdout || '';\nconst success = output.includes('推送成功') || output.includes('status');\n\nreturn {\n  success,\n  output,\n  timestamp: new Date().toISOString(),\n  worker: 'DevGate Metrics Pusher'\n};"
      },
      "id": "ParseResult",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "CheckSuccess",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "content": "✅ DevGate Metrics 推送成功\n\n时间: {{ $json.timestamp }}\n员工: {{ $json.worker }}",
        "options": {}
      },
      "id": "NotifySuccess",
      "name": "Log Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1240,
        260
      ]
    },
    {
      "parameters": {
        "content": "❌ DevGate Metrics 推送失败\n\n输出: {{ $json.output }}",
        "options": {}
      },
      "id": "NotifyFail",
      "name": "Log Fail",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1240,
        400
      ]
    }
  ],
  "connections": {
    "Schedule (02:00 daily)": {
      "main": [
        [
          {
            "node": "SSH: Run push-metrics.sh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (manual trigger)": {
      "main": [
        [
          {
            "node": "SSH: Run push-metrics.sh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH: Run push-metrics.sh": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Asia/Shanghai",
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
