workflows/exports/bundles/data-collection/xiaohongshu.json
{
  "name": "小红书数据爬取",
  "nodes": [
    {
      "id": "placeholder-trigger",
      "name": "占位触发器",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        200
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 999
            }
          ]
        }
      }
    },
    {
      "id": "manual-trigger",
      "name": "手动触发",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        400
      ]
    },
    {
      "id": "ssh-scrape",
      "name": "执行CDP爬虫",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        520,
        300
      ],
      "parameters": {
        "authentication": "privateKey",
        "host": "146.190.52.84",
        "port": 22,
        "user": "xx",
        "command": "bash ~/platform_scrape.sh xiaohongshu 2>/dev/null"
      },
      "credentials": {
        "sshPrivateKey": {
          "id": "vvJsQOZ95sqzemla",
          "name": "VPS SSH Key"
        }
      }
    },
    {
      "id": "parse-result",
      "name": "解析结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ],
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\ntry {\n  const data = JSON.parse(stdout.trim());\n  return [{ json: data }];\n} catch (e) {\n  return [{ json: { success: false, error: e.message } }];\n}"
      }
    }
  ],
  "connections": {
    "占位触发器": {
      "main": [
        [
          {
            "node": "执行CDP爬虫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "手动触发": {
      "main": [
        [
          {
            "node": "执行CDP爬虫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "执行CDP爬虫": {
      "main": [
        [
          {
            "node": "解析结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
