workflows/docs/archive/json-backups/workflow-factory.json
{
  "name": "AI工厂-Workflow生产线",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "nodes": [
    {
      "name": "接收PRD",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "parameters": {
        "httpMethod": "POST",
        "path": "workflow-factory",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "workflow-factory-webhook"
    },
    {
      "name": "手动触发",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 600]
    },
    {
      "name": "初始化Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 500],
      "parameters": {
        "jsCode": "const now = new Date();\nconst runId = now.toISOString().replace(/[-:T]/g, '').slice(0, 14) + '-' + Math.random().toString(36).slice(2, 8);\n\nconst prd = $input.first().json.prd || $input.first().json.body?.prd || '未提供PRD';\nconst project = $input.first().json.project || 'default';\nconst targetWorkflow = $input.first().json.target_workflow || null;\n\nreturn [{\n  json: {\n    run_id: runId,\n    prd: prd,\n    project: project,\n    target_workflow: targetWorkflow,\n    started_at: now.toISOString(),\n    factory_type: 'workflow'\n  }\n}];"
      }
    },
    {
      "name": "构建Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 500],
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst systemPrompt = `你是 Workflow 工厂的执行者（Claude Code 无头模式）。\n\n## 你的任务\n根据 PRD 创建或修改 n8n workflow。\n\n## PRD 内容\n${data.prd}\n\n## 目标 Workflow\n${data.target_workflow ? '修改现有: ' + data.target_workflow : '创建新 workflow'}\n\n## 执行规则\n1. 使用 MCP 工具操作 n8n:\n   - mcp__n8n__search_workflows: 搜索现有 workflow\n   - mcp__n8n__get_workflow_details: 获取详情\n   - 创建/修改需要用 Bash 调用 n8n REST API\n\n2. Workflow 规范:\n   - 每个节点必须有清晰的中文名称\n   - 必须包含错误处理逻辑\n   - SSH 节点使用 credential ID: vvJsQOZ95sqzemla\n   - 飞书通知 Webhook: https://open.feishu.cn/open-apis/bot/v2/hook/5bde68e0-9879-4a45-88ed-461a88229136\n\n3. 质量检查:\n   - 验证所有节点连接正确\n   - 验证参数完整\n   - 测试执行（如果可能）\n\n## 输出要求\n完成后，在最后一行输出 JSON（必须是单独一行）:\n{\"success\": true, \"workflow_id\": \"xxx\", \"workflow_name\": \"xxx\", \"action\": \"created|modified\", \"message\": \"简短说明\"}\n\n如果失败:\n{\"success\": false, \"message\": \"失败原因\"}\n\n## Run ID\n${data.run_id}`;\n\n// 转义单引号用于 shell\nconst escapedPrompt = systemPrompt.replace(/'/g, \"'\\\\''\")\n                                   .replace(/\\$/g, '\\\\$');\n\nconst command = `cd /home/xx/dev/n8n-workflows && claude -p '${escapedPrompt}' --allowedTools 'Edit,Write,Read,Bash,Glob,Grep,mcp__n8n__search_workflows,mcp__n8n__get_workflow_details,mcp__n8n__execute_workflow' 2>&1 | tail -100`;\n\nreturn [{\n  json: {\n    ...data,\n    command: command\n  }\n}];"
      }
    },
    {
      "name": "执行Claude",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [960, 500],
      "credentials": {
        "sshPrivateKey": {
          "id": "vvJsQOZ95sqzemla",
          "name": "VPS SSH"
        }
      },
      "parameters": {
        "authentication": "privateKey",
        "host": "146.190.52.84",
        "port": 22,
        "user": "xx",
        "command": "={{ $json.command }}"
      }
    },
    {
      "name": "解析结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 500],
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst stderr = $input.first().json.stderr || '';\nconst exitCode = $input.first().json.code || 0;\nconst initData = $('初始化Run').first().json;\n\n// 从输出中提取最后的 JSON 结果\nlet result = { success: false, message: '无法解析结果' };\ntry {\n  // 匹配最后一个 JSON 对象\n  const lines = stdout.split('\\n').reverse();\n  for (const line of lines) {\n    if (line.includes('\"success\"')) {\n      const jsonMatch = line.match(/\\{[^{}]*\"success\"[^{}]*\\}/);\n      if (jsonMatch) {\n        result = JSON.parse(jsonMatch[0]);\n        break;\n      }\n    }\n  }\n} catch (e) {\n  result.message = '解析失败: ' + e.message;\n}\n\nreturn [{\n  json: {\n    run_id: initData.run_id,\n    factory_type: 'workflow',\n    success: exitCode === 0 && result.success,\n    workflow_id: result.workflow_id || null,\n    workflow_name: result.workflow_name || null,\n    action: result.action || null,\n    message: result.message || (exitCode === 0 ? '执行完成' : '执行失败'),\n    stdout_tail: stdout.slice(-1500),\n    stderr: stderr,\n    exit_code: exitCode,\n    started_at: initData.started_at,\n    completed_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "name": "检查结果",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1440, 500],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [{ "id": "c1", "leftValue": "={{ $json.success }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }]
        }
      }
    },
    {
      "name": "成功通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 400],
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/bot/v2/hook/5bde68e0-9879-4a45-88ed-461a88229136",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ msg_type: 'text', content: { text: '✅ Workflow 工厂执行成功\\n\\nRun: ' + $json.run_id + '\\nWorkflow: ' + ($json.workflow_name || $json.workflow_id) + '\\n操作: ' + ($json.action || 'unknown') + '\\n说明: ' + $json.message } }) }}",
        "options": {}
      }
    },
    {
      "name": "成功响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 400],
      "parameters": {
        "jsCode": "const data = $('解析结果').first().json;\nreturn [{\n  json: {\n    status: 'success',\n    run_id: data.run_id,\n    workflow_id: data.workflow_id,\n    workflow_name: data.workflow_name,\n    action: data.action,\n    message: data.message,\n    completed_at: data.completed_at\n  }\n}];"
      }
    },
    {
      "name": "失败通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 600],
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/bot/v2/hook/5bde68e0-9879-4a45-88ed-461a88229136",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ msg_type: 'text', content: { text: '❌ Workflow 工厂执行失败\\n\\nRun: ' + $json.run_id + '\\n错误: ' + $json.message + '\\n时间: ' + $json.completed_at } }) }}",
        "options": {}
      }
    },
    {
      "name": "失败响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 600],
      "parameters": {
        "jsCode": "const data = $('解析结果').first().json;\nreturn [{\n  json: {\n    status: 'failed',\n    run_id: data.run_id,\n    message: data.message,\n    error_detail: data.stderr || data.stdout_tail?.slice(-500),\n    completed_at: data.completed_at\n  }\n}];"
      }
    }
  ],
  "connections": {
    "接收PRD": { "main": [[{ "node": "初始化Run", "type": "main", "index": 0 }]] },
    "手动触发": { "main": [[{ "node": "初始化Run", "type": "main", "index": 0 }]] },
    "初始化Run": { "main": [[{ "node": "构建Prompt", "type": "main", "index": 0 }]] },
    "构建Prompt": { "main": [[{ "node": "执行Claude", "type": "main", "index": 0 }]] },
    "执行Claude": { "main": [[{ "node": "解析结果", "type": "main", "index": 0 }]] },
    "解析结果": { "main": [[{ "node": "检查结果", "type": "main", "index": 0 }]] },
    "检查结果": { "main": [[{ "node": "成功通知", "type": "main", "index": 0 }], [{ "node": "失败通知", "type": "main", "index": 0 }]] },
    "成功通知": { "main": [[{ "node": "成功响应", "type": "main", "index": 0 }]] },
    "失败通知": { "main": [[{ "node": "失败响应", "type": "main", "index": 0 }]] }
  }
}
