workflows/exports/bundles/content-publish/main.json
{
  "name": "内容发布 - content-publish",
  "nodes": [
    {
      "id": "n1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "content-publish",
      "parameters": {
        "httpMethod": "POST",
        "path": "content-publish",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "n2",
      "name": "准备",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst taskId = body.taskId || '';\nconst title = body.title || '(无标题)';\nconst platforms = body.targetPlatforms || [];\n\nconst supported = ['douyin'];\nconst valid = platforms.filter(p => supported.includes(p));\n\nif (valid.length === 0) {\n  return [{ json: { skip: true, taskId, title, reason: '没有支持的平台' } }];\n}\n\nreturn [{ json: { skip: false, taskId, title, platform: valid[0] } }];"
      }
    },
    {
      "id": "n3",
      "name": "是否跳过",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.skip }}"
            }
          ]
        }
      }
    },
    {
      "id": "n4",
      "name": "SSH发布",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        880,
        400
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "vvJsQOZ95sqzemla",
          "name": "VPS SSH Key"
        }
      },
      "parameters": {
        "authentication": "privateKey",
        "host": "146.190.52.84",
        "port": 22,
        "user": "xx",
        "command": "=NODE_PATH=/home/xx/node_modules node /home/xx/vps_publisher.js {{ $json.taskId }} {{ $json.platform }} 2>&1"
      }
    },
    {
      "id": "n5",
      "name": "解析并构建通知",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ],
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst prev = $('准备').first().json;\n\nlet success = false;\nlet error = '';\n\ntry {\n  const m = stdout.match(/\\{[\\s\\S]*?\\}/);\n  if (m) {\n    const r = JSON.parse(m[0]);\n    success = r.success === true;\n    error = r.error || '';\n  }\n} catch (e) {\n  error = '解析失败';\n}\n\nconst emoji = success ? '✅' : '❌';\nconst status = success ? '发布成功' : '发布失败';\nlet text = emoji + ' ' + status + '\\n';\ntext += '平台: 抖音\\n';\ntext += '标题: ' + prev.title;\nif (error) text += '\\n错误: ' + error;\n\nreturn [{\n  json: {\n    taskId: prev.taskId,\n    success,\n    feishuBody: { msg_type: 'text', content: { text } }\n  }\n}];"
      }
    },
    {
      "id": "n6",
      "name": "飞书通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/bot/v2/hook/5bde68e0-9879-4a45-88ed-461a88229136",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.feishuBody }}"
      }
    },
    {
      "id": "n7",
      "name": "跳过通知",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        200
      ],
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nreturn [{ json: { feishuBody: { msg_type: 'text', content: { text: '⏭️ 发布跳过\\n原因: ' + prev.reason } } } }];"
      }
    },
    {
      "id": "n8",
      "name": "飞书-跳过",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/bot/v2/hook/5bde68e0-9879-4a45-88ed-461a88229136",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.feishuBody }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "准备",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备": {
      "main": [
        [
          {
            "node": "是否跳过",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否跳过": {
      "main": [
        [
          {
            "node": "跳过通知",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SSH发布",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH发布": {
      "main": [
        [
          {
            "node": "解析并构建通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析并构建通知": {
      "main": [
        [
          {
            "node": "飞书通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "跳过通知": {
      "main": [
        [
          {
            "node": "飞书-跳过",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
