workflows/templates/webhook-response/template.json
{
  "name": "Webhook 响应模板",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "my-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "{{WEBHOOK_ID}}"
    },
    {
      "parameters": {
        "jsCode": "// 处理接收到的数据\nconst body = $input.item.json.body;\n\n// 示例：验证必填字段\nif (!body.name) {\n  return {\n    json: {\n      success: false,\n      error: 'Missing required field: name'\n    }\n  };\n}\n\n// 处理业务逻辑\nconst result = {\n  success: true,\n  data: {\n    message: `Hello, ${body.name}!`,\n    timestamp: new Date().toISOString(),\n    received: body\n  }\n};\n\nreturn { json: result };"
      },
      "id": "code-processor",
      "name": "处理数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "返回响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $json.error.message || \"Internal Server Error\", \"timestamp\": new Date().toISOString() } }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "error-respond",
      "name": "返回错误响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "处理数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理数据": {
      "main": [
        [
          {
            "node": "返回响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "返回错误响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
